Repository wrmthorne/kreuzberg: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, golangci-lint, ruby-format-check, ruby-lint-check, java-format-check, java-lint-check, csharp-format-check, csharp-lint-check, php-format-check, php-lint-check, typescript-typecheck

cargo-fmt:
  name: Check Rust formatting (cargo fmt)
  entry: cargo fmt --all -- --check
  language: system
  pass_filenames: false
  require_serial: true
  stages:
  - commit

golangci-lint:
  name: Check Go linting (golangci-lint)
  entry: bash -c 'cd packages/go/v4 && CGO_ENABLED=0 golangci-lint run --fix --tests=false'
  language: system
  pass_filenames: false
  require_serial: true
  stages:
  - commit

ruby-format-check:
  name: Check Ruby formatting (rubocop)
  entry: task ruby:format:check
  language: system
  pass_filenames: false
  require_serial: true
  stages:
  - commit

ruby-lint-check:
  name: Check Ruby linting (rubocop + steep)
  entry: task ruby:lint:check
  language: system
  pass_filenames: false
  require_serial: true
  stages:
  - commit

java-format-check:
  name: Check Java formatting (spotless)
  entry: task java:format:check
  language: system
  pass_filenames: false
  require_serial: true
  stages:
  - commit

java-lint-check:
  name: Check Java linting (checkstyle + pmd)
  entry: task java:lint:check
  language: system
  pass_filenames: false
  require_serial: true
  stages:
  - commit

csharp-format-check:
  name: Check C# formatting (dotnet format)
  entry: task csharp:format:check
  language: system
  pass_filenames: false
  require_serial: true
  stages:
  - commit

csharp-lint-check:
  name: Check C# linting (dotnet format verify)
  entry: task csharp:lint:check
  language: system
  pass_filenames: false
  require_serial: true
  stages:
  - commit

php-format-check:
  name: Check PHP formatting (php-cs-fixer)
  entry: task php:format:check
  language: system
  pass_filenames: false
  require_serial: true
  stages:
  - commit

php-lint-check:
  name: Check PHP linting (phpstan + php-cs-fixer)
  entry: task php:lint:check
  language: system
  pass_filenames: false
  require_serial: true
  stages:
  - commit

typescript-typecheck:
  name: Check TypeScript types (tsc --noEmit)
  entry: task typescript:typecheck
  language: system
  pass_filenames: false
  require_serial: true
  stages:
  - commit

chore: updated deps
  Cargo.lock
  packages/java/pom.xml
  pnpm-lock.yaml
  uv.lock
Due: none

fix: resolve CI failures across Ruby, Python, C#, and Java bindings
  packages/csharp/Kreuzberg/Models.cs
  packages/csharp/Kreuzberg/Serialization.cs
  packages/java/pom.xml
  packages/java/src/test/java/dev/kreuzberg/AsyncExtractionTest.java
  packages/java/src/test/java/dev/kreuzberg/ConcurrencyTest.java
  packages/python/kreuzberg/__init__.py
  packages/ruby/ext/kreuzberg_rb/native/Cargo.lock
  packages/ruby/ext/kreuzberg_rb/native/Cargo.toml
  packages/ruby/ext/kreuzberg_rb/native/src/plugins/ocr_backend.rs
  packages/ruby/ext/kreuzberg_rb/native/src/plugins/post_processor.rs
  packages/ruby/ext/kreuzberg_rb/native/src/result.rs
  scripts/ci/ruby/vendor-kreuzberg-core.sh
Due: java-format-check, java-lint-check, csharp-format-check, csharp-lint-check

feat(api): implement ToSchema for all extraction types and enable /extract OpenAPI docs
  CHANGELOG.md
  crates/kreuzberg-cli/src/commands/extract.rs
  crates/kreuzberg-cli/tests/contract_cli.rs
  crates/kreuzberg-ffi/tests.disabled/config_loading_tests.rs
  crates/kreuzberg-node/src/config/types.rs
  crates/kreuzberg-node/src/lib.rs
  crates/kreuzberg-node/src/validation.rs
  crates/kreuzberg-py/src/config/types.rs
  crates/kreuzberg-py/src/validation.rs
  crates/kreuzberg/src/api/handlers.rs
  crates/kreuzberg/src/api/openapi.rs
  crates/kreuzberg/src/chunking/config.rs
  crates/kreuzberg/src/chunking/core.rs
  crates/kreuzberg/src/chunking/mod.rs
  crates/kreuzberg/src/chunking/processor.rs
  crates/kreuzberg/src/core/config/extraction/env.rs
  crates/kreuzberg/src/core/config/mod.rs
  crates/kreuzberg/src/core/config/processing.rs
  crates/kreuzberg/src/core/pipeline/features.rs
  crates/kreuzberg/src/core/pipeline/tests.rs
  crates/kreuzberg/src/lib.rs
  crates/kreuzberg/src/pdf/metadata.rs
  crates/kreuzberg/src/types/djot.rs
  crates/kreuzberg/src/types/extraction.rs
  crates/kreuzberg/src/types/formats.rs
  crates/kreuzberg/src/types/metadata.rs
  crates/kreuzberg/src/types/page.rs
  crates/kreuzberg/src/types/tables.rs
  crates/kreuzberg/tests/config_behavioral.rs
  crates/kreuzberg/tests/config_features.rs
  crates/kreuzberg/tests/config_loading_tests.rs
  crates/kreuzberg/tests/contract_mcp.rs
  crates/kreuzberg/tests/core_integration.rs
  e2e/rust/tests/plugin_apis_test.rs
  packages/elixir/native/kreuzberg_rustler/src/config.rs
  packages/elixir/native/kreuzberg_rustler/src/conversion.rs
Due: cargo-fmt

chore: cleanup
  packages/go/serialization_test.go
Due: none

fix(benchmark): clean up harness, fix format support, remove obsolete files
  .github/workflows/benchmarks.yaml
  tests/fixtures/xlsx-oom-repro/CHANGELOG.md
  tests/fixtures/xlsx-oom-repro/generate-oom-xlsx.mjs
  tests/fixtures/xlsx-oom-repro/kreuzberg-oom-repro.xlsx
  tools/benchmark-harness/config/framework_sizes.json
  tools/benchmark-harness/scripts/PHP_BENCHMARKS.md
  tools/benchmark-harness/scripts/run-php-benchmark-example.sh
  tools/benchmark-harness/src/adapters/external.rs
  tools/benchmark-harness/src/adapters/mod.rs
  tools/benchmark-harness/src/adapters/subprocess.rs
  tools/benchmark-harness/src/aggregate.rs
  tools/benchmark-harness/src/main.rs
  tools/benchmark-harness/src/runner.rs
  tools/benchmark-harness/src/sizes.rs
Due: cargo-fmt

docs(changelog): add GitHub release tag links for v4.2.3-v4.2.10
  CHANGELOG.md
Due: none

fix(docx): fix missing whitespace between text runs in DOCX extraction
  ATTRIBUTIONS.md
  Cargo.lock
  crates/kreuzberg/Cargo.toml
  crates/kreuzberg/src/extraction/docx/mod.rs
  crates/kreuzberg/src/extraction/docx/parser.rs
  crates/kreuzberg/src/extractors/docx.rs
Due: cargo-fmt

fix(docx): filter empty runs and bump to v4.2.12 (#359)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/kreuzberg/src/extraction/docx/parser.rs
  crates/kreuzberg/src/extractors/docx.rs
Due: cargo-fmt

fix: benchmark and CI issues from v4.2.13 release
  crates/kreuzberg/src/core/extractor/helpers.rs
  crates/kreuzberg/src/extraction/excel.rs
  crates/kreuzberg/src/extractors/pdf/mod.rs
  packages/csharp/Kreuzberg/Models.cs
  packages/csharp/Kreuzberg/Serialization.cs
  scripts/ci/actions/setup-rust/report-sccache-stats.sh
  tools/benchmark-harness/src/adapters/kreuzberg.rs
  tools/benchmark-harness/src/aggregate.rs
  tools/benchmark-harness/src/output.rs
Due: cargo-fmt, csharp-format-check, csharp-lint-check

fix(benchmark): resolve fixture document paths relative to fixture file
  tools/benchmark-harness/scripts/validate_ground_truth.py
Due: none

docs: update supported format count to 75+ across all docs and package metadata
  .ai-rulez/skills/api-server-mcp/SKILL.md
  .ai-rulez/skills/extraction-pipeline-patterns/SKILL.md
  README.md
  composer.json
  crates/kreuzberg-cli/README.md
  crates/kreuzberg-node/README.md
  crates/kreuzberg/Cargo.toml
  crates/kreuzberg/README.md
  crates/kreuzberg/src/api/openapi.rs
  docs/cli/usage.md
  docs/comparisons/kreuzberg-vs-unstructured.md
  docs/features.md
  docs/guides/agent-skills.md
  docs/guides/csharp.md
  docs/guides/extraction.md
  docs/index.md
  docs/llms.txt
  docs/migration/from-unstructured.md
  docs/reference/formats.md
  docs/snippets/php/README.md
  packages/csharp/Kreuzberg/Kreuzberg.csproj
  packages/csharp/README.md
  packages/elixir/README.md
  packages/go/v4/README.md
  packages/go/v4/doc.go
  packages/java/README.md
  packages/php/README.md
  packages/php/composer.json
  packages/php/package.xml
  packages/php/src/Kreuzberg.php
  packages/python/README.md
  packages/python/pyproject.toml
  packages/ruby/README.md
  packages/ruby/kreuzberg.gemspec
  packages/typescript/core/package.json
  scripts/readme_config.yaml
  scripts/readme_templates/partials/features.md.jinja
  skills/kreuzberg/SKILL.md
  skills/kreuzberg/references/supported-formats.md
Due: cargo-fmt, golangci-lint, csharp-format-check, csharp-lint-check, php-format-check, php-lint-check

feat(ci): integrate kreuzberg-paddle-ocr into CI/publish pipelines
  .github/workflows/ci-rust.yaml
  .github/workflows/ci-validate.yaml
  .github/workflows/publish.yaml
  ATTRIBUTIONS.md
  Cargo.lock
  Cargo.toml
  crates/kreuzberg-paddle-ocr/Cargo.toml
  crates/kreuzberg-paddle-ocr/LICENSE
  crates/kreuzberg-paddle-ocr/README.md
  crates/kreuzberg-paddle-ocr/src/angle_net.rs
  crates/kreuzberg-paddle-ocr/src/base_net.rs
  crates/kreuzberg-paddle-ocr/src/crnn_net.rs
  crates/kreuzberg-paddle-ocr/src/db_net.rs
  crates/kreuzberg-paddle-ocr/src/lib.rs
  crates/kreuzberg-paddle-ocr/src/ocr_error.rs
  crates/kreuzberg-paddle-ocr/src/ocr_lite.rs
  crates/kreuzberg-paddle-ocr/src/ocr_result.rs
  crates/kreuzberg-paddle-ocr/src/ocr_utils.rs
  crates/kreuzberg-paddle-ocr/src/scale_param.rs
  crates/kreuzberg/Cargo.toml
  crates/kreuzberg/src/lib.rs
  crates/kreuzberg/src/ocr/mod.rs
  crates/kreuzberg/src/paddle_ocr/backend.rs
  crates/kreuzberg/src/paddle_ocr/config.rs
  crates/kreuzberg/src/paddle_ocr/mod.rs
  crates/kreuzberg/src/paddle_ocr/model_manager.rs
  crates/kreuzberg/src/plugins/registry/ocr.rs
  deny.toml
  docker/Dockerfile.full
  scripts/publish/check_cratesio.sh
Due: cargo-fmt

feat(ocr): implement PaddleOCR backend via ONNX Runtime
  Cargo.lock
  crates/kreuzberg/Cargo.toml
  crates/kreuzberg/src/lib.rs
  crates/kreuzberg/src/ocr/mod.rs
  crates/kreuzberg/src/ocr/paddle/backend.rs
  crates/kreuzberg/src/ocr/paddle/config.rs
  crates/kreuzberg/src/ocr/paddle/mod.rs
  crates/kreuzberg/src/ocr/paddle/model_manager.rs
  crates/kreuzberg/src/plugins/registry/ocr.rs
Due: cargo-fmt

fix(ocr): pass page count and evaluate per-page for OCR fallback
  CHANGELOG.md
Due: none

fix(ocr): exclude PaddleOCR tests from WASM targets and update README
  README.md
  e2e/wasm-deno/helpers.ts
  e2e/wasm-deno/ocr.test.ts
  e2e/wasm-workers/tests/helpers.ts
  e2e/wasm-workers/tests/ocr.spec.ts
  tools/e2e-generator/src/fixtures.rs
Due: cargo-fmt, typescript-typecheck

feat: native DOC/PPT extraction via OLE/CFB parsing, replacing LibreOffice subprocess
  Cargo.lock
  crates/kreuzberg/Cargo.toml
  crates/kreuzberg/src/core/extractor/bytes.rs
  crates/kreuzberg/src/core/extractor/file.rs
  crates/kreuzberg/src/core/extractor/helpers.rs
  crates/kreuzberg/src/extraction/doc/mod.rs
  crates/kreuzberg/src/extraction/mod.rs
  crates/kreuzberg/src/extraction/ppt/mod.rs
  crates/kreuzberg/src/extraction/transform/document_tree.rs
  crates/kreuzberg/src/extractors/doc.rs
  crates/kreuzberg/src/extractors/mod.rs
  crates/kreuzberg/src/extractors/ppt.rs
Due: cargo-fmt

fix: Python E2E test config and PaddleOCR markers
  e2e/python/tests/conftest.py
  e2e/python/tests/helpers.py
  e2e/python/tests/test_ocr.py
Due: none

fix: CI failures across Ruby, WASM, E2E helpers, CSV tests, and benchmarks
  crates/kreuzberg-wasm/typescript/types.ts
  crates/kreuzberg/tests/csv_integration.rs
  e2e/csharp/Helpers.cs
  e2e/go/helpers_test.go
  e2e/java/src/test/java/com/kreuzberg/e2e/E2EHelpers.java
  e2e/wasm-deno/helpers.ts
  e2e/wasm-workers/tests/helpers.ts
  packages/ruby/ext/kreuzberg_rb/native/src/result.rs
  tools/benchmark-harness/fixtures/bmp_24bit.json
Due: cargo-fmt, typescript-typecheck

fix: Go E2E tests - dereference pointer in OCR confidence assertion
  e2e/go/helpers_test.go
Due: none

fix: installation footprint measurement bugs in benchmark harness
  tools/benchmark-harness/src/sizes.rs
Due: cargo-fmt

feat: add system dependency sizes to framework footprint measurements
  tools/benchmark-harness/src/main.rs
  tools/benchmark-harness/src/runner.rs
  tools/benchmark-harness/src/sizes.rs
  tools/benchmark-harness/src/types.rs
Due: cargo-fmt

docs(changelog): add GitHub release tag links for v4.2.11-v4.2.15
  CHANGELOG.md
Due: none

fix: document structure e2e tests across all language bindings
  .ai-rulez/skills/e2e-test-generation/README.md
  crates/kreuzberg-node/typescript/core/config-normalizer.ts
  crates/kreuzberg-node/typescript/core/type-converters.ts
  crates/kreuzberg-node/typescript/types.ts
  e2e/elixir/test/e2e/ocr_test.exs
  e2e/elixir/test/e2e/office_test.exs
  e2e/elixir/test/support/e2e_helpers.ex
  e2e/php/tests/Helpers.php
  e2e/php/tests/OcrTest.php
  e2e/php/tests/OfficeTest.php
  e2e/python/tests/helpers.py
  e2e/python/tests/test_ocr.py
  e2e/python/tests/test_office.py
  e2e/ruby/spec/helpers.rb
  e2e/rust/tests/ocr_test.rs
  e2e/rust/tests/office_test.rs
  e2e/typescript/tests/helpers.ts
  e2e/wasm-workers/tests/helpers.ts
  packages/java/src/main/java/dev/kreuzberg/NodeContent.java
  packages/ruby/ext/kreuzberg_rb/native/src/config/types.rs
  tools/e2e-generator/src/elixir.rs
  tools/e2e-generator/src/php.rs
  tools/e2e-generator/src/python.rs
  tools/e2e-generator/src/ruby.rs
  tools/e2e-generator/src/typescript.rs
  tools/e2e-generator/src/wasm_workers.rs
Due: cargo-fmt, java-format-check, java-lint-check, typescript-typecheck

chore: update ONNX Runtime from 1.23.2 to 1.24.1
  .github/workflows/benchmarks.yaml
  .github/workflows/ci-cli.yaml
  .github/workflows/ci-csharp.yaml
  .github/workflows/ci-docker.yaml
  .github/workflows/ci-elixir.yaml
  .github/workflows/ci-go.yaml
  .github/workflows/ci-java.yaml
  .github/workflows/ci-node.yaml
  .github/workflows/ci-php.yaml
  .github/workflows/ci-python.yaml
  .github/workflows/ci-ruby.yaml
  .github/workflows/ci-rust.yaml
  .github/workflows/ci-validate.yaml
  .github/workflows/profiling.yaml
  .github/workflows/publish-docker.yaml
  .github/workflows/publish.yaml
  .task/config/vars.yml
  README.md
  crates/kreuzberg-node/README.md
  crates/kreuzberg-paddle-ocr/README.md
  crates/kreuzberg-paddle-ocr/src/lib.rs
  docker/Dockerfile.core
  docker/Dockerfile.full
  packages/csharp/README.md
  packages/elixir/README.md
  packages/java/README.md
  packages/php/README.md
  packages/python/README.md
  packages/ruby/README.md
  scripts/ci/actions/setup-prebuilt-onnx/prepare.sh
Due: cargo-fmt, csharp-format-check, csharp-lint-check

fix: DOCX formatted markdown output, typst table extraction, clippy fixes
  CHANGELOG.md
  crates/kreuzberg-paddle-ocr/tests/diagnostic.rs
  crates/kreuzberg/src/extraction/docx/parser.rs
  crates/kreuzberg/src/extraction/email.rs
  crates/kreuzberg/src/extractors/docx.rs
  crates/kreuzberg/src/extractors/typst.rs
  crates/kreuzberg/src/paddle_ocr/backend.rs
  crates/kreuzberg/tests/docx_formatting_test.rs
  crates/kreuzberg/tests/paddle_ocr_integration.rs
  test_documents/ground_truth/docx/docx_equations.txt
  test_documents/ground_truth/docx/docx_grouped_images.txt
  test_documents/ground_truth/docx/docx_images.txt
  test_documents/ground_truth/docx/docx_large_formatted.txt
  test_documents/ground_truth/docx/docx_rich_cells.txt
  test_documents/ground_truth/docx/docx_tables.txt
  test_documents/ground_truth/docx/drawingml.txt
  test_documents/ground_truth/docx/equations.txt
  test_documents/ground_truth/docx/list_after_num_headers.txt
  test_documents/ground_truth/docx/table_with_equations.txt
  test_documents/ground_truth/docx/tablecell.txt
  test_documents/ground_truth/docx/test.txt
  test_documents/ground_truth/docx/test_emf_docx.txt
  test_documents/ground_truth/docx/test_with_comment.txt
  test_documents/ground_truth/docx/textbox.txt
  test_documents/ground_truth/docx/unit_test_headers_numbered.txt
  test_documents/ground_truth/docx/word_comments.txt
  test_documents/ground_truth/docx/word_image_anchors.txt
  test_documents/ground_truth/docx/word_sample.txt
  test_documents/ground_truth/docx/word_tables.txt
  test_documents/typst/advanced_pandoc_baseline.txt
  test_documents/typst/headings_pandoc_baseline.txt
  test_documents/typst/metadata_pandoc_meta.json
  test_documents/typst/minimal_pandoc_baseline.txt
  test_documents/typst/simple_pandoc_baseline.txt
Due: cargo-fmt

fix: node binding config passthrough and keyword extraction for e2e tests
  crates/kreuzberg-node/src/config/types.rs
  crates/kreuzberg-node/typescript/core/config-normalizer.ts
  crates/kreuzberg-node/typescript/core/type-converters.ts
  e2e/typescript/tests/helpers.ts
  tools/e2e-generator/src/typescript.rs
Due: cargo-fmt, typescript-typecheck

fix: PHP E2E — add OCR backend management, document/elements/__get, fix config serialization
  .github/workflows/benchmarks.yaml
  .task/languages/php.yml
  crates/kreuzberg-php/src/plugins.rs
  crates/kreuzberg-php/src/types.rs
  e2e/php/tests/Helpers.php
  e2e/php/tests/PluginApisTest.php
  e2e/php/vendor/autoload.php
  e2e/php/vendor/composer/autoload_real.php
  e2e/php/vendor/composer/autoload_static.php
  e2e/php/vendor/composer/installed.php
  packages/php/src/Config/ExtractionConfig.php
  packages/php/src/Kreuzberg.php
  tools/e2e-generator/src/php.rs
Due: cargo-fmt, php-format-check, php-lint-check

fix: replace invalid XLSB test file and add integration test
  crates/kreuzberg/tests/xlsb_extraction_test.rs
  test_documents/xlsx/test_xlsb.xlsb
  tools/benchmark-harness/fixtures/xlsb_sample.json
Due: cargo-fmt

update keywords score and text access
  docs/guides/keywords.md
Due: none

fix: enable wasm_js feature for getrandom 0.3.4 transitive deps
  Cargo.lock
  crates/kreuzberg-wasm/Cargo.toml
Due: none

fix(elixir): update checksums for 4.3.0 precompiled NIF binaries
  packages/elixir/checksum-Elixir.Kreuzberg.Native.exs
Due: none

fix: remove empty PDF from benchmark fixtures
  tools/benchmark-harness/fixtures/pdf/issue-297-example.json
Due: none

fix: resolve CI failures and hanging Rust tests
  Cargo.lock
  crates/kreuzberg-node/npm/darwin-arm64/package.json
  crates/kreuzberg-node/npm/darwin-x64/package.json
  crates/kreuzberg-node/npm/linux-arm-gnueabihf/package.json
  crates/kreuzberg-node/npm/linux-arm64-gnu/package.json
  crates/kreuzberg-node/npm/linux-x64-gnu/package.json
  crates/kreuzberg-node/npm/win32-arm64-msvc/package.json
  crates/kreuzberg-node/npm/win32-x64-msvc/package.json
  crates/kreuzberg-node/package.json
  crates/kreuzberg-wasm/package.json
  crates/kreuzberg/tests/pdf_text_merging.rs
  packages/ruby/Gemfile.lock
Due: cargo-fmt

Path conditions:
  cargo-fmt: any of: ^(crates|tools|e2e/rust)/.*\.rs$, but not: ^docs/snippets/|vendor/|node_modules/|target/|invalid*|dist/|artifacts/
  golangci-lint: any of: ^packages/go/v4/.*\.go$, but not: ^docs/snippets/|vendor/|node_modules/|target/|invalid*|dist/|artifacts/
  ruby-format-check: any of: ^packages/ruby/.*\.rb$, but not: ^docs/snippets/|vendor/|node_modules/|target/|invalid*|dist/|artifacts/
  ruby-lint-check: any of: ^packages/ruby/(lib|sig)/.*\.(rb|rbs)$, but not: ^docs/snippets/|vendor/|node_modules/|target/|invalid*|dist/|artifacts/
  java-format-check: any of: ^packages/java/src/.*\.java$, but not: ^docs/snippets/|vendor/|node_modules/|target/|invalid*|dist/|artifacts/
  java-lint-check: any of: ^packages/java/src/.*\.java$, but not: ^docs/snippets/|vendor/|node_modules/|target/|invalid*|dist/|artifacts/
  csharp-format-check: any of: ^packages/csharp/, but not: ^docs/snippets/|vendor/|node_modules/|target/|invalid*|dist/|artifacts/
  csharp-lint-check: any of: ^packages/csharp/, but not: ^docs/snippets/|vendor/|node_modules/|target/|invalid*|dist/|artifacts/
  php-format-check: any of: ^packages/php/.*\.php$, but not: ^docs/snippets/|vendor/|node_modules/|target/|invalid*|dist/|artifacts/
  php-lint-check: any of: ^packages/php/.*\.php$, but not: ^docs/snippets/|vendor/|node_modules/|target/|invalid*|dist/|artifacts/
  typescript-typecheck: any of: ^(crates/kreuzberg-(node|wasm)|packages/typescript|tools/benchmark-visualizer|examples/(typescript|wasm-.*)|tests/test_apps/(node|wasm|browser-vite-svelte)|e2e/wasm-workers)/.*\.(ts|tsx)$, but not: ^docs/snippets/|vendor/|node_modules/|target/|invalid*|dist/|artifacts/
