Repository wrmthorne/kreuzberg: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, golangci-lint, ruby-format-check, ruby-lint-check, java-format-check, java-lint-check, csharp-format-check, csharp-lint-check, php-format-check, php-lint-check, typescript-typecheck

Path conditions:
  cargo-fmt: any of: ^(crates|tools|e2e/rust)/.*\.rs$, but not: ^docs/snippets/|vendor/|node_modules/|target/|invalid*|dist/|artifacts/
  golangci-lint: any of: ^packages/go/v4/.*\.go$, but not: ^docs/snippets/|vendor/|node_modules/|target/|invalid*|dist/|artifacts/
  ruby-format-check: any of: ^packages/ruby/.*\.rb$, but not: ^docs/snippets/|vendor/|node_modules/|target/|invalid*|dist/|artifacts/
  ruby-lint-check: any of: ^packages/ruby/(lib|sig)/.*\.(rb|rbs)$, but not: ^docs/snippets/|vendor/|node_modules/|target/|invalid*|dist/|artifacts/
  java-format-check: any of: ^packages/java/src/.*\.java$, but not: ^docs/snippets/|vendor/|node_modules/|target/|invalid*|dist/|artifacts/
  java-lint-check: any of: ^packages/java/src/.*\.java$, but not: ^docs/snippets/|vendor/|node_modules/|target/|invalid*|dist/|artifacts/
  csharp-format-check: any of: ^packages/csharp/, but not: ^docs/snippets/|vendor/|node_modules/|target/|invalid*|dist/|artifacts/
  csharp-lint-check: any of: ^packages/csharp/, but not: ^docs/snippets/|vendor/|node_modules/|target/|invalid*|dist/|artifacts/
  php-format-check: any of: ^packages/php/.*\.php$, but not: ^docs/snippets/|vendor/|node_modules/|target/|invalid*|dist/|artifacts/
  php-lint-check: any of: ^packages/php/.*\.php$, but not: ^docs/snippets/|vendor/|node_modules/|target/|invalid*|dist/|artifacts/
  typescript-typecheck: any of: ^(crates/kreuzberg-(node|wasm)|packages/typescript|tools/benchmark-visualizer|examples/(typescript|wasm-.*)|tests/test_apps/(node|wasm|browser-vite-svelte)|e2e/wasm-workers)/.*\.(ts|tsx)$, but not: ^docs/snippets/|vendor/|node_modules/|target/|invalid*|dist/|artifacts/

fix(docs): wrap C# snippets in markdown code fences
  CHANGELOG.md
  docs/guides/advanced.md
  docs/snippets/csharp/advanced/chunking_config.md
  docs/snippets/csharp/advanced/chunking_rag.md
  docs/snippets/csharp/advanced/language_detection_config.md
  docs/snippets/csharp/advanced/language_detection_multilingual.md
Due: none

ci: run CI workflows after Publish completes
  .github/workflows/ci-benchmark-visualizer.yaml
  .github/workflows/ci-cli.yaml
  .github/workflows/ci-csharp.yaml
  .github/workflows/ci-docker.yaml
  .github/workflows/ci-elixir.yaml
  .github/workflows/ci-go.yaml
  .github/workflows/ci-java.yaml
  .github/workflows/ci-node.yaml
  .github/workflows/ci-php.yaml
  .github/workflows/ci-python.yaml
  .github/workflows/ci-ruby.yaml
  .github/workflows/ci-rust.yaml
  .github/workflows/ci-validate.yaml
  .github/workflows/ci-wasm.yaml
Due: none

fix(php): register missing ChunkMetadata and Keyword classes
  crates/kreuzberg-php/src/lib.rs
Due: cargo-fmt

fix: remove kreuzberg-tesseract version constraint and add PHP test assertions
  crates/kreuzberg/Cargo.toml
  packages/php/tests/Integration/ImageExtractionTest.php
  packages/php/tests/Integration/KeywordExtractionTest.php
Due: php-format-check, php-lint-check

fix(python): ensure type stubs are included in wheels and sdists
  packages/python/MANIFEST.in
  packages/python/pyproject.toml
Due: none

fix(ci): resolve C# serialization and Ruby cache issues
  .github/workflows/ci-ruby.yaml
  CHANGELOG.md
  packages/csharp/Kreuzberg/Serialization.cs
Due: csharp-format-check, csharp-lint-check

feat: add Djot format support
  crates/kreuzberg/Cargo.toml
  crates/kreuzberg/src/extractors/djot.rs
  crates/kreuzberg/src/extractors/mod.rs
Due: cargo-fmt

chore: remove old and temporary analysis files
  EXTRACTION_MAPPING.md
  LAYER_2_EXTRACTION_SUMMARY.md
  crates/kreuzberg-node/typescript/SPLIT_ANALYSIS.md
  crates/kreuzberg-node/typescript/index.old.ts
  crates/kreuzberg-wasm/typescript/SPLIT_ANALYSIS.md
  crates/kreuzberg-wasm/typescript/index.old.ts
  package.json
  pnpm-lock.yaml
Due: typescript-typecheck

refactor: second pass - fix incomplete splits and clean up warnings
  crates/kreuzberg-node/src/batch.rs
  crates/kreuzberg-node/src/config.rs
  crates/kreuzberg-node/src/embedding_presets.rs
  crates/kreuzberg-node/src/error_handling.rs
  crates/kreuzberg-node/src/extraction.rs
  crates/kreuzberg-node/src/lib.rs
  crates/kreuzberg-node/src/metadata.rs
  crates/kreuzberg-node/src/plugins/ocr_backend.rs
  crates/kreuzberg-node/src/plugins/post_processor.rs
  crates/kreuzberg-node/src/plugins/validator.rs
  crates/kreuzberg-node/src/result.rs
  crates/kreuzberg-node/src/validation.rs
  crates/kreuzberg-py/src/lib.rs
  crates/kreuzberg-py/src/plugins.rs
  crates/kreuzberg-py/src/plugins/common.rs
  crates/kreuzberg-py/src/plugins/mod.rs
  crates/kreuzberg-py/src/plugins/ocr_bridge.rs
  crates/kreuzberg-py/src/plugins/processor_bridge.rs
  crates/kreuzberg-py/src/plugins/validator_bridge.rs
  crates/kreuzberg-wasm/src/lib.rs
  crates/kreuzberg-wasm/src/plugins.rs
  crates/kreuzberg-wasm/src/plugins/mod.rs
  crates/kreuzberg-wasm/src/plugins/ocr_bridge.rs
  crates/kreuzberg-wasm/src/plugins/processor_bridge.rs
  crates/kreuzberg-wasm/src/plugins/validator_bridge.rs
  crates/kreuzberg/src/chunking/mod.rs
Due: cargo-fmt

fix: add prepare script to test-utils to build before typecheck
  packages/typescript/test-utils/package.json
Due: none

fix(node): restore plugin system and config loading functionality after refactoring
  Cargo.lock
  crates/kreuzberg-ffi/src/panic_shield.rs
  crates/kreuzberg-ffi/src/result.rs
  crates/kreuzberg-node/src/config/types.rs
  crates/kreuzberg-node/src/plugins/mod.rs
  crates/kreuzberg-node/src/plugins/ocr_backend.rs
  crates/kreuzberg-node/src/plugins/post_processor.rs
  crates/kreuzberg-node/src/plugins/validator.rs
  crates/kreuzberg-php/Cargo.toml
  crates/kreuzberg-php/src/lib.rs
  crates/kreuzberg/src/embeddings.rs
  packages/php/phpunit.xml.dist
  test_ffi_load
  test_ffi_load.c
  test_panic_guard
  test_panic_guard.rs
Due: cargo-fmt

fix(tests): add ORT_DYLIB_PATH to Go and C# test configurations
  .task/languages/csharp.yml
  .task/languages/go.yml
Due: none

fix(node): implement missing MIME utilities and export all error classes
  crates/kreuzberg-node/src/lib.rs
  crates/kreuzberg-node/src/metadata.rs
  crates/kreuzberg-node/src/validation.rs
  crates/kreuzberg-node/typescript/index.ts
Due: cargo-fmt, typescript-typecheck

fix(tests): relax timing-sensitive benchmark test thresholds
  tools/benchmark-harness/tests/baseline_validation.rs
Due: cargo-fmt

fix(ci): resolve remaining CI failures
  .github/workflows/ci-python.yaml
  .task/languages/go.yml
  packages/typescript/test-utils/tsup.config.ts
  scripts/ci/ruby/vendor-kreuzberg-core.py
Due: typescript-typecheck

fix(ci): resolve Go and Ruby test failures
  packages/go/v4/ffi.go
  packages/go/v4/ffi_dev.go
  packages/ruby/ext/kreuzberg_rb/native/Cargo.lock
  packages/ruby/ext/kreuzberg_rb/native/Cargo.toml
  packages/ruby/ext/kreuzberg_rb/native/src/config/types.rs
  packages/ruby/ext/kreuzberg_rb/native/src/error_handling.rs
  packages/ruby/ext/kreuzberg_rb/native/src/plugins/ocr_backend.rs
  packages/ruby/lib/kreuzberg/config.rb
  scripts/ci/go/debug-windows-environment.ps1
Due: golangci-lint, ruby-format-check, ruby-lint-check

chore: cleaned up ref ambiguity
  crates/kreuzberg/src/text/quality.rs
  crates/kreuzberg/src/utils/quality/mod.rs
  crates/kreuzberg/tests/concurrency_stress.rs
  packages/elixir/native/kreuzberg_rustler/src/batch.rs
  tools/benchmark-harness/src/adapters/subprocess.rs
Due: cargo-fmt

docs: add missing GitHub release tag references to CHANGELOG
  CHANGELOG.md
  uv.lock
Due: none

fix: update test expectation for error message
  crates/kreuzberg/src/mcp/format.rs
Due: cargo-fmt

fix: Docker plugin initialization for tesseract OCR and embeddings
  CHANGELOG.md
  docker/Dockerfile.core
  docker/Dockerfile.full
Due: none

feat(ci): implement Phase 1-2 of systematic sccache restoration
  .github/actions/setup-rust/action.yml
  .github/workflows/benchmarks.yaml
  .github/workflows/ci-python.yaml
  .github/workflows/ci-rust.yaml
  scripts/ci/actions/setup-rust/build-with-sccache-fallback.sh
  scripts/ci/actions/setup-rust/configure-flags.sh
  scripts/ci/actions/setup-rust/report-sccache-stats.sh
Due: none

fix: align test expectations with canonical API across bindings
  CHANGELOG.md
  crates/kreuzberg-node/typescript/core/type-converters.ts
  crates/kreuzberg-node/typescript/types.ts
  e2e/python/tests/helpers.py
  e2e/python/tests/test_contract.py
  packages/csharp/Kreuzberg.Tests/ErrorHandlingTests.cs
  packages/php/tests/Unit/ConfigTest.php
  tools/benchmark-harness/scripts/kreuzberg_extract.ts
Due: csharp-format-check, csharp-lint-check, php-format-check, php-lint-check, typescript-typecheck

fix(keywords): add serde defaults to KeywordConfig fields
  crates/kreuzberg/src/keywords/config.rs
Due: cargo-fmt

refactor(benchmark): enhance extraction scripts with OCR, cache, server mode
  tools/benchmark-harness/scripts/KreuzbergExtractJava.java
  tools/benchmark-harness/scripts/TikaExtract.java
  tools/benchmark-harness/scripts/docling_extract.py
  tools/benchmark-harness/scripts/kreuzberg_extract.exs
  tools/benchmark-harness/scripts/kreuzberg_extract.php
  tools/benchmark-harness/scripts/kreuzberg_extract.py
  tools/benchmark-harness/scripts/kreuzberg_extract.rb
  tools/benchmark-harness/scripts/kreuzberg_extract.ts
  tools/benchmark-harness/scripts/kreuzberg_extract_go.go
  tools/benchmark-harness/scripts/kreuzberg_extract_wasm.ts
  tools/benchmark-harness/scripts/markitdown_extract.py
  tools/benchmark-harness/scripts/mineru_extract.py
  tools/benchmark-harness/scripts/pdfplumber_extract.py
  tools/benchmark-harness/scripts/pymupdf4llm_extract.py
  tools/benchmark-harness/scripts/unstructured_extract.py
Due: none

fix(benchmark): statistical correctness, OCR parity, and test coverage
  tools/benchmark-harness/src/adapters/external.rs
  tools/benchmark-harness/src/adapters/kreuzberg.rs
  tools/benchmark-harness/src/adapters/mod.rs
  tools/benchmark-harness/src/adapters/native.rs
  tools/benchmark-harness/src/adapters/subprocess.rs
  tools/benchmark-harness/src/aggregate.rs
  tools/benchmark-harness/src/config.rs
  tools/benchmark-harness/src/consolidate.rs
  tools/benchmark-harness/src/lib.rs
  tools/benchmark-harness/src/main.rs
  tools/benchmark-harness/src/monitoring.rs
  tools/benchmark-harness/src/output.rs
  tools/benchmark-harness/src/runner.rs
  tools/benchmark-harness/src/stats.rs
Due: cargo-fmt

feat(e2e): add Elixir backend to e2e-generator
  .task/languages/elixir.yml
  .task/workflows/e2e.yml
  e2e/elixir/.formatter.exs
  e2e/elixir/.gitignore
  e2e/elixir/mix.exs
  e2e/elixir/test/e2e/contract_test.exs
  e2e/elixir/test/e2e/email_test.exs
  e2e/elixir/test/e2e/html_test.exs
  e2e/elixir/test/e2e/image_test.exs
  e2e/elixir/test/e2e/ocr_test.exs
  e2e/elixir/test/e2e/office_test.exs
  e2e/elixir/test/e2e/pdf_test.exs
  e2e/elixir/test/e2e/plugin_apis_test.exs
  e2e/elixir/test/e2e/smoke_test.exs
  e2e/elixir/test/e2e/structured_test.exs
  e2e/elixir/test/e2e/xml_test.exs
  e2e/elixir/test/support/e2e_helpers.ex
  e2e/elixir/test/test_helper.exs
  tools/e2e-generator/src/elixir.rs
  tools/e2e-generator/src/main.rs
Due: cargo-fmt

fix markdown list rendering
  docs/getting-started/quickstart.md
Due: none

fix(node,php,ts): align bindings with Rust core config and add missing elements field
  crates/kreuzberg-node/src/result.rs
  packages/php/src/Config/ImageExtractionConfig.php
  packages/php/src/Config/PdfConfig.php
  packages/php/tests/Integration/ChunkingAndEmbeddingsTest.php
  packages/php/tests/Integration/EmbeddingGenerationTest.php
  packages/php/tests/Integration/ErrorHandlingTest.php
  packages/php/tests/Integration/ExtensionTest.php
  packages/php/tests/Integration/ImageExtractionTest.php
  packages/php/tests/Integration/OcrExtractionTest.php
  packages/php/tests/Integration/PagesExtractionTest.php
  packages/php/tests/Integration/TableExtractionTest.php
  packages/php/tests/SerializationTest.php
  packages/php/tests/Unit/BatchProcessingTest.php
  packages/php/tests/Unit/Config/ImageExtractionConfigTest.php
  packages/php/tests/Unit/Config/ImagePreprocessingConfigTest.php
  packages/php/tests/Unit/Config/PdfConfigTest.php
  packages/php/tests/Unit/ConfigTest.php
  packages/php/tests/Unit/DocumentExtractionTest.php
  packages/php/tests/Unit/ExtractionTest.php
  packages/php/tests/Unit/PagesExtractionTest.php
  packages/typescript/tests/serialization.spec.ts
Due: cargo-fmt, php-format-check, php-lint-check, typescript-typecheck

fix(ci): reduce benchmark artifact size from 1.5GB to essential files only
  .github/workflows/benchmarks.yaml
Due: none

fix(python): add OutputFormat/ResultFormat enums and align .pyi with Rust
  packages/python/kreuzberg/__init__.py
  packages/python/kreuzberg/_internal_bindings.pyi
  packages/python/kreuzberg/types.py
Due: none

chore: clean java config
  packages/java/src/main/java/dev/kreuzberg/config/ExtractionConfig.java
Due: java-format-check, java-lint-check

fix(ci): replace gh-pages publishing with GitHub Releases for benchmark results
  .github/workflows/benchmarks.yaml
Due: none

fix(node): pass outputFormat and resultFormat through config normalizer
  crates/kreuzberg-node/typescript/core/config-normalizer.ts
Due: typescript-typecheck

feat(ocr): support "all" keyword for KREUZBERG_OCR_LANGUAGE (#344)
  CHANGELOG.md
  crates/kreuzberg/src/core/config_validation/mod.rs
  crates/kreuzberg/src/core/config_validation/sections.rs
  crates/kreuzberg/src/ocr/processor/execution.rs
  crates/kreuzberg/src/ocr/processor/validation.rs
  crates/kreuzberg/src/ocr/tesseract_backend.rs
  crates/kreuzberg/src/ocr/validation.rs
Due: cargo-fmt

fix(elixir): overhaul type definitions from audit against Rustler/Rust source
  CHANGELOG.md
  packages/elixir/lib/kreuzberg.ex
  packages/elixir/lib/kreuzberg/async_api.ex
  packages/elixir/lib/kreuzberg/chunk.ex
  packages/elixir/lib/kreuzberg/chunk_metadata.ex
  packages/elixir/lib/kreuzberg/djot.ex
  packages/elixir/lib/kreuzberg/element.ex
  packages/elixir/lib/kreuzberg/error_metadata.ex
  packages/elixir/lib/kreuzberg/helpers.ex
  packages/elixir/lib/kreuzberg/hierarchy.ex
  packages/elixir/lib/kreuzberg/image.ex
  packages/elixir/lib/kreuzberg/image_preprocessing_metadata.ex
  packages/elixir/lib/kreuzberg/keyword.ex
  packages/elixir/lib/kreuzberg/metadata.ex
  packages/elixir/lib/kreuzberg/page.ex
  packages/elixir/lib/kreuzberg/page_structure.ex
  packages/elixir/lib/kreuzberg/result.ex
  packages/elixir/lib/kreuzberg/table.ex
  packages/elixir/test/e2e/html_extraction_test.exs
  packages/elixir/test/integration/e2e_extraction_test.exs
  packages/elixir/test/integration/embedding_generation_test.exs
  packages/elixir/test/integration/image_extraction_test.exs
  packages/elixir/test/integration/keyword_extraction_test.exs
  packages/elixir/test/integration/table_extraction_test.exs
  packages/elixir/test/unit/extraction_result_test.exs
  packages/elixir/test/unit/helpers_test.exs
  packages/elixir/test/unit/images_test.exs
  packages/elixir/test/unit/pages_extraction_test.exs
  packages/elixir/test/unit/struct_refactoring_test.exs
Due: none

fix(java): overhaul type definitions from audit against Rust source
  packages/java/src/main/java/dev/kreuzberg/Attributes.java
  packages/java/src/main/java/dev/kreuzberg/BlockType.java
  packages/java/src/main/java/dev/kreuzberg/Chunk.java
  packages/java/src/main/java/dev/kreuzberg/DjotContent.java
  packages/java/src/main/java/dev/kreuzberg/DjotImage.java
  packages/java/src/main/java/dev/kreuzberg/DjotLink.java
  packages/java/src/main/java/dev/kreuzberg/ExtractionResult.java
  packages/java/src/main/java/dev/kreuzberg/Footnote.java
  packages/java/src/main/java/dev/kreuzberg/FormattedBlock.java
  packages/java/src/main/java/dev/kreuzberg/InlineElement.java
  packages/java/src/main/java/dev/kreuzberg/InlineType.java
  packages/java/src/main/java/dev/kreuzberg/Kreuzberg.java
  packages/java/src/main/java/dev/kreuzberg/Metadata.java
  packages/java/src/main/java/dev/kreuzberg/ResultParser.java
  packages/java/src/test/java/dev/kreuzberg/ConcurrencyTest.java
  packages/java/src/test/java/dev/kreuzberg/ConfigResultTest.java
  packages/java/src/test/java/dev/kreuzberg/EmbeddingsTest.java
  packages/java/src/test/java/dev/kreuzberg/KreuzbergTest.java
  packages/java/src/test/java/dev/kreuzberg/PagesExtractionTest.java
  packages/java/src/test/java/dev/kreuzberg/config/ChunkingConfigTest.java
  packages/java/src/test/java/dev/kreuzberg/config/EmbeddingConfigTest.java
  packages/java/src/test/java/dev/kreuzberg/config/HierarchyConfigTest.java
  packages/java/src/test/java/dev/kreuzberg/config/ImageExtractionConfigTest.java
  packages/java/src/test/java/dev/kreuzberg/config/ImagePreprocessingConfigTest.java
  packages/java/src/test/java/dev/kreuzberg/config/LanguageDetectionConfigTest.java
  packages/java/src/test/java/dev/kreuzberg/config/PageConfigTest.java
  packages/java/src/test/java/dev/kreuzberg/config/PdfConfigTest.java
  packages/java/src/test/java/dev/kreuzberg/config/PostProcessorConfigTest.java
  packages/java/src/test/java/dev/kreuzberg/config/TesseractConfigTest.java
  packages/java/src/test/java/dev/kreuzberg/config/TokenReductionConfigTest.java
Due: java-format-check, java-lint-check
